<%- include('partials/header'); -%>

  welcome to home page
    <!-- login and register page -->

     <!-- <div class="container">
      <a href="/login">Login</a> or 
      <a href="/register">Register</a>
     </div> -->

     <div class="container">
     <a href="/main"><button class="btn btn-dark">See Post</button></a>
     </div>

    <!-- ending home content -->

<%- include('partials/footer'); -%>