<%- include('partials/header'); -%>

<!-- <div class="container">
      <h1>Login</h1>
     
 <form action="/login" method="post">
      <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input
                type="email"
                class="form-control-plaintext"
                id="staticEmail"
                placeholder="enter your mail"
                name="username"
              />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword" name="password"/>
            </div>
          </div>
          <button type="submit" class="btn btn-primary"> Login</button>
          
 </form>
 or <a href="/register"> <button class="btn btn-dark my-3">Sign Up</button> </a>
</div> -->
  <div class="centered">
  <div class="form-box">
    <div class="form-value">
      <form action="/login" method="post">
        <h2>Login</h2>
        <div class="inputbox">
          <ion-icon name="mail-outline"></ion-icon>
          <input
            type="email"
            class="form-control-plaintext"
            id="staticEmail"
            placeholder=""
            name="username"
          />
          <label for="">Email</label>
        </div>
        <div class="inputbox">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <input
            type="password"
            class="form-control"
            id="inputPassword"
            name="password"
          />
          <label for="">Password</label>
        </div>
        <div class="forget">
          <label for=""
            ><input type="checkbox" />Remember Me
            <a href="#">Forget Password</a></label
          >
        </div>
        <button class="buttonB" type="submit">Log in</button>
        <div class="register">
          <p>Don't have a account <a href="/register">Register</a></p>
        </div>
      </form>
    </div>
  </div>
</div>
<%- include('partials/footer'); -%>
