<%- include('partials/header'); -%>

<div class=" centered">
 <div class="form-box">
  <div class="form-value">

   
  <h2>Register</h2>
  <form action="/register" method="post">
    <div class=" inputbox">
      <label for="staticEmail" >Email</label>
        <input
          type="email"
          class="form-control-plaintext"
          id="staticEmail"
          placeholder=""
          name="username"
          required
        />
    </div>
    <!-- password -->
    <div class="inputbox">
      <label for="inputPassword" 
        >Password</label
      >
        <input
          type="password"
          class="form-control"
          id="inputPassword"
          name="password"
        />
    </div>
    <!-- area1 -->
    <div class="inputbox">
      <label for="exampleFormControlTextarea1" class="form-label"
        >Full Name</label>
      <input
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="1"
        name="fullname"
      ></input>
    </div>
    <!-- area2 -->
    <div class="inputbox">
      <label for="exampleFormControlTextarea1" class="form-label"
        >Nick Name</label>
      <input
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="1"
        name="nickname"
      ></input>
    </div>
    <!-- area3 -->
    <div class="inputbox">
      <label for="exampleFormControlTextarea1" class="form-label">Bio</label>
      <input
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="1"
        name="bio"
      ></input>
    </div>
    <button type="submit" class="buttonB">Register</button> 
  </form>
  <div class="register"><p> or have an account <a href="/login"> Login </a> </p> </div>
  
 </div>
</div>
</div> 

<%- include('partials/footer'); -%>
